:root{
    --text-color: #272727;
    --link-color: #272727;
    --background-color: #f2f2f2;
}

a{
    text-decoration: none;
    color: var(--link-color);
}

body{
    font-family: "IBM Plex Mono", monospace;
    background-color: var(--background-color);
    font-weight: 300;
}


nav{
    display: flex;
    justify-content: space-between;
    padding: 40px;
    align-items: center;
    height: 80px;
    animation: fade-down 2s;
    text-decoration: none;
    color: var(--link-color);
}

.name{
    font-size: 40px;
    font-weight: 500;;
}

.middle{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 20px;
}



.contents{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100vh-80px;
    font-size: 20px;
    animation: fade-down 2s;
    font-weight: 300;
    margin-top: 20px;
    gap:20px

}

.landscapes:hover{
    text-decoration: underline;
}

.portraits:hover{
    text-decoration: underline;
}

@keyframes fade-up {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}


@keyframes fade-down {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.lutte{
    display: inline-block;
}

.lutte img{
    width: 100px;
    border-radius: 10px;
    display: flex;
    align-items: center;
}

.folders{
    display: inline-flex;
    height: 80vh;
    gap: 50px;
    animation: fade-down 2s;
    margin-left: 20px;
}
.folder1{
    transition: transform 0.5s ease;
}

.folder2{
    transition: transform 0.5s ease;
}
.folder1:hover{
    transform: translateY(-15px);
}

.folder2:hover{
    transform: translateY(-15px);
}

.photos{
    display: inline-flex;
}
.photos img{
    width: 200px;
    height: 200px;
    margin: 20px;
    transition: transform 0.5s ease;
}

.photos img:hover{
    transform: translateY(-15px)
}

.modal{
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.9);
    justify-content: center;
    align-items: center;
}
.modal-content{
    max-width: 90%;
    max-height: 90%;
    border-radius: 30px;
}
