:root{
    --text-color: #272727;
    --link-color: #272727;
    --background-color: #f2f2f2;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: "Lexend", sans-serif;
    background-color: var(--background-color);
    font-weight: 300;
}

a{
    text-decoration: none;
    color: var(--link-color);
}


nav{
    display: flex;
    justify-content: space-between;
    padding: 40px;
    align-items: center;
    height: 80px;
    animation: fade-down 1s;
}

.name{
    font-size: 40px;
    font-weight: 500;;
}




@keyframes fade-up {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}


@keyframes fade-down {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

main{
        animation: fade-up 1.5s;
}

h2{
    font-weight: 300
}

.base{
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 20%;
    gap: 20px;
    animation: fade-up 1.5s;
    background: white;
    margin: 100px;
    padding: 100px;
    border-radius: 100px;
}

.image{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
    animation: fade-up 1.5s;
    gap: 50px;
}

img{
    border-radius: 25%;
    width: 45%;
    
}