:root{
    --text-color: #272727;
    --link-color: #272727;
    --background-color: #f2f2f2;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: "Lexend", sans-serif;
    background-color: var(--background-color);
    font-weight: 300;
}

a{
    text-decoration: none;
    color: var(--link-color);
}

.container{
    display: flex;
}

nav{
    display: flex;
    justify-content: space-between;
    padding: 40px;
    align-items: center;
    height: 80px;
    animation: fade-down 1s;
}

.name{
    font-size: 40px;
    font-weight: 500;;
}





@keyframes fade-up {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}


@keyframes fade-down {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

main{
        animation: fade-up 1.5s;
}

.header{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 40vh;
    margin-left: 50px;
    flex-direction: column;
}

.header h1{
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 10px;
}

.header h2{
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 10px;
    margin-top: 10px;
}

.header a{
    color: #8fbaff;
}

.about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    margin: 50px;
    padding: 50px;
    border-radius: 100px;
    gap: 50px;
}




#aboutme{
    flex: 1;
}


