html{
    font-family: "Lexend", sans-serif;
    background-color: var(--background-color);
}

:root{
    --text-color: #272727;
    --link-color: #272727;
    --background-color: #f2f2f2;
    
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: var(--link-color);
}

.name{
    font-size: 40px;
    font-weight: 500;;
}

.main{
    justify-content: center;
    align-items: center;
    display: flex;
    height: 40vh;
}

@keyframes fade-up {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

nav{
    display: flex;
    justify-content: space-between;
    padding: 40px;
    align-items: center;
    height: 80px;
    animation: fade-down 1s;
    font-weight: 300;
}

.contact-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-inputs{
    display: flex;
    flex-direction: column;
    width: 300px;
    margin-top: 20px;
    border: 0;
    outline: 0;
    background: #FFFFFF;
    border-radius: 20px;
    padding: 10px
}

.contact-container{
    animation: fade-up 1.5s;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.contact-container textarea{
    height: 150px;
}

.contact-container button{
    padding: 15px;
    display: flex;
    flex-direction: column;
    width: 200px;
    margin-top: 20px;
    border: 0;
    outline: 0;
    border-radius: 20px;
    background: #FFFFFF;
    cursor: pointer;
}

.contact-container button :hover{
    background-color: black;
    color: white;
}

.contact-left-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-left-title h3{
    font-weight: 300;
}